* {
  padding: 0;
  margin: 0;
}

html,
body {
  width: 100%;
  height: 100%;
}

.bg {
  width: 1000px;
  height: 800px;
  background: url("../images/map.jpg");
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
}
