.tab_list {
  display: flex;
  text-align: center;
  height: 44px;
  line-height: 44px;
}

.tab_item {
  flex: 1;
}

.tab_item.active {
  color: red;
}

.tab_item.active span{
  padding: 5px 8px;
  border-bottom: 2px solid red;
  box-sizing: border-box;
}